.profile__info {
  height: 73px;
  max-width: 70%;
  border-color: red;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}

@media screen and (max-width: 580px) {
  .profile__info {
    margin: 26px 0 36px 0;
    height: 54px;
    max-width: 100%;
    align-items: space-between;
    align-items: center;
  }
}


