.profile__wrapper {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

.profile__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8); 
    background-image: url('../../../images/pen.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20%;
    transition: opacity 0.6s ease;
    opacity: 0;
}

.profile__wrapper:hover::before {
    opacity: 1;
}