.cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 17px;
  list-style-type: none;
  padding: 0;
  justify-content: left;
  margin: 0;
}

@media screen and (max-width: 580px) {

  .cards {
    justify-content: center;
  }
}