.profile__description {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 994px) {

  .profile__description {
    max-width: 80%;
    font-size: 14px;
    line-height: 1.2;    
  }
}

@media screen and (max-width: 580px) {

  .profile__description {
    max-width: 100%;    
  }
}

