.button_addCard {
  height: 50px;
  width: calc(16% + 40px);
  border: 2px solid #FFFFFF;
  background-image: url(../../../images/plus.svg);
}

@media screen and (max-width: 580px) {
  .button_addCard {
    width: 100%;
  }
}