.popup__container {
  position: relative;
  height: auto;
  width: 430px;
  padding: 36px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 580px) {
  .popup__container {
    height: 322px;
    width: 282px;
    padding: 22px;
  }
}
